  var params = <%= raw @variables %>;
  var words = params["words"];
  //var code = params["codes"];
  var suggestedCodes = params["suggestedCodes"];
  var selectedCodes = params["selectedCodes"];

  var text = $("#textArea").html();
  words.forEach(function (item) {
    var textArray = text.match(new RegExp( "(" + preg_quote( item ) + ")" , 'gi'));
    if(textArray){
      textArray.forEach(function(word){
        var link = "<a class='highlight showWordDetails' contenteditable='false' data-toggle='tooltip' title='click for showWordDetails'>" + word + "</a>"
        text=text.replace(word, link);
      });
    }
  });
  $("#textArea").html(text);

  function preg_quote( str ) {
    // http://kevin.vanzonneveld.net
    // +   original by: booeyOH
    // +   improved by: Ates Goral (http://magnetiq.com)
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   bugfixed by: Onno Marsman
    // *     example 1: preg_quote("$40");
    // *     returns 1: '\$40'
    // *     example 2: preg_quote("*RRRING* Hello?");
    // *     returns 2: '\*RRRING\* Hello\?'
    // *     example 3: preg_quote("\\.+*?[^]$(){}=!<>|:");
    // *     returns 3: '\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:'
    return (str+'').replace(/([\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:])/g, "\\$1");
  };

  function updateSuggestedCodes(){
    var categoryList;
    $("#mainDiagnosesList").empty();
    $("#sideDiagnosesList").empty();
    $("#proceduresList").empty();
    for(var key in suggestedCodes){
      // don't show codes that are already selected
      if(selectedCodes && key in selectedCodes){
        continue;
      }
      else{
        if(key=="388410" || key=="388420"){
          categoryList = "mainDiagnosesList";
        }
        else if(key=="388499" || key=="388500"){
          categoryList = "sideDiagnosesList";
        }
        else{
          categoryList = "proceduresList";
        }
        $("#"+categoryList).append("<li class='list-group-item codeItem' id='"+key+"'>"+"<span class='text_field'>"+suggestedCodes[key].code+"</span>"+": "+suggestedCodes[key].text_de+"</li>");
      }
    }
    // var infoButton = "<button class='infoButton' type='button'><img src='http://icons.iconarchive.com/icons/danrabbit/elementary/32/Button-info-icon.png' alt='info'></img></button>";
    // $(".codeList li").append(infoButton);
  };

  updateSuggestedCodes();