  var parameters = <%= raw @variables %>;
  var codes = parameters["codes"];
  var searchTextId = parameters["search_text_id"];

  var codeList = "";
  codes.forEach(function(element) {
    var listElement = "<li><a>"+element["code"]+": "+element["text_de"]+"</a></li>";
    codeList = codeList + listElement;
  });
  if(codeList.length == 0)
    codeList = "<li>Keine Codes gefunden</li>";

  var parentId = $("#"+searchTextId).parent().attr("id");
  $("#dropdown-"+parentId+" ul").empty().append(codeList);
  $('ul.dropdown-menu li').click(function() {
    $("#"+searchTextId).val($(this).text());
  });
  $("#dropdown-"+parentId).toggleClass("open", true);