  var parameters = <%= raw @variables %>;
  var codes = parameters["codes"];
  var searchTextId = parameters["search_text_id"];
  //$("#"+searchTextId).val(codes[0]["code"]);

  var codeList = "";
  codes.forEach(function(element) {
    var listElement = "<li>"+element["code"]+": "+element["text_de"]+"</li>";
    codeList = codeList + listElement;
  });
  if(codeList.length == 0)
    codeList = "<li>Keine Codes gefunden</li>";

  var parentId = $("#"+searchTextId).parent().attr("id");
  $("#dropdown-"+parentId+" ul").empty().append(codeList);
  $("#dropdown-"+parentId).toggleClass("open", true);