var params = <%= raw @variables %>;
var word = params["word"];
var synonyms = params["synonyms"];

$("#infoWord").text(word);

synonyms.forEach(function (item) {
  $("#synonymsList").append("<li>"+item+"</li>");
});
