var parameters = <%= raw @variables %>;
var word = parameters["word"];
var synonyms = parameters["synonyms"];

$("#infoWord").text(word);

if(synonyms){
  $("#synonymsList").empty();
  synonyms.forEach(function (synonym) {
    $("#synonymsList").append("<li toggle='tooltip' title='click for details'><a class='highlight showWordDetails'>" + synonym + "</a></li>");
  });
}
