body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav {
    padding: 20px 0;

}

footer {
    font-size: 12px;
    padding-bottom: 20px;
}

div[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-prompt);
    color: gray;
    opacity: 0.7;
}

#allListMask li.editable div.text_field:hover{
    title: "click to edit";
}

#allListMask div[contentEditable=true]:empty:not(:focus):before{
    color: black;
    opacity: 0.5;
}

li {
    display: block;
}

#analyse{
    position: relative;
    left: 70%;
    top:10px;
}

#textArea{
    height: 300px;
    overflow:scroll
}

.highlight{
    background-color: orange;
    opacity: 0.5;
}

.showWordDetails {
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#codeMaskWrapper {
    margin-top: 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0;  text-shadow: none;

}

.zbutton{
 color: white;
 background-color:#508ABF;
 border-radius: 60px;
 border-color:#508ABF;
 padding:5px 4px 5px 4px ;
 font-size: 0.8em;
 position: absolute;
 top:5px;
 right:10px;
}

.doneButton, .eraseButton, #addCodeButton, #cancelButton {
    display: none;
}

.list-group-item {
    background-color: #EEE;
    margin: 2px;
    padding: 0;
    box-shadow: 10px 10px 5px #CCC;
    min-height: 42px;
    cursor: pointer;
}

.editing {
    background-color: #FFF;
    border: 1px solid #DDD;
}

.text_field {
    padding: 10px 15px;
    height: 100%;
    min-height: 40px;
    width: 85%;
}

#newMainCode .doneButton {
    display: block;
}

#newMainCode {
    display: none;
}

.modal-header {
    background-color: darkgray;
    height: 40px;
    padding: 0;
}

#info {
    height: inherit;
}

.modal-body {
    padding:0;
    margin: 0;
}

#infoWordWrapper{
    height: 40px;
    background-color: #EEE;
    padding: 0;
}

#infoWordDiv {
    height: inherit;
    padding-left: 0;
}

#infoWord {
    color: darkblue;
}

#infoSynonymsWrapper {
    background-color: #FFF;
    height: inherit;
}

#infoRelatedCodesListWrapper {
    background-color: #EEE;
    height: inherit;
}

#synonymsList {
    border: none;
    box-shadow: none;
}

#synonymsList li {
    display: inline;
    padding: 5px;
    color: darkblue;
}

.redBackground{
    background-color: #E76;
}

#popupContent {
    max-width: 600px;
}