var parameters = <%= raw @variables_as_json %>;
var words = parameters.words;
var suggestedCodes = parameters.suggested_codes;
var selectedCodes = parameters.selected_codes;

$("#analyse").text('Update');

var textArea = $("#textArea");
var text = textArea.html();
words.forEach(function(item) {
  var textArray = text.match(new RegExp( "(" + reg_escape( item ) + ")" , 'gi'));
  if(textArray && item != "n") {
    textArray.forEach(function(word) {
      var highlightedWord = "<a class='highlight showWordDetails' contenteditable='true' title='click for details' data-toggle='modal' data-target='#popup' >" + word + "</a>";
      text=text.replace(new RegExp(word, 'g'), highlightedWord);
    });
  }
});
textArea.html(text);

function reg_escape(str) {
  return (str+'').replace(/([\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:])/g, "\\$1");
}

function updateSuggestedCodes() {
  for(var category in suggestedCodes){
    $("#"+category+"List").empty();
    for(var codeId in suggestedCodes[category]){
      // only show codes that aren't already selected
      var code = suggestedCodes[category][codeId].code;
      var text = suggestedCodes[category][codeId].text_de;
      if( jQuery.isEmptyObject(selectedCodes[category]) || !(codeId in selectedCodes[category])) {
        $("#"+category+"List").append("<li class='list-group-item codeItem' id='"+codeId+"' data-category='"+category+"'><div class='text_field'>"+code+": "+text+"</div></li>");
      }
    }
  }
}

updateSuggestedCodes();