<nav class="navbar navbar-default">
  <div class="container-fluid">
  </div><!-- /.container-fluid -->
</nav>


<!--section-->
<section class="container-fluid">
  <!--Big fat DIV-->
  <div class="row-fluid">
    <!--Div of Textarea and Codemask-->
    <div class="col-md-offset-1 form-group col-md-5 ">

      <label for="Text">Text:</label>
      <!--Textarea Div-->
      <div id="textArea" class="editable form-control bg-primary" contenteditable="true" >
      </div>

      <button id="analyse" type="button" class="btn btn-primary">Analyse</button>

      <!-- Modal -->
      <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-md-12" id="info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Information</h4>
              </div>
            </div>

            <div class="modal-body">
              <div class="col-md-12" id="infoWordWrapper">
                <div class="col-md-1"><h4>Word:</h4></div>
                <div class="col-md-9" id="infoWordDiv"><h4 id="infoWord"></h4></div>
              </div>
              <div class="col-md-12" id="infoSynonymsWrapper">
                <label>Synonyme:</label>
                <div class="col-md-12" id="infoSynonyms">
                  <ul class="list-group" id="synonymsList">
                  </ul>
                </div>
              </div>
              <div class="col-md-12" id="infoRelatedCodesListWrapper">
                <label>Codes:</label>
                <div class="form-group col-md-12" id="infoRelatedCodes">
                  <!--Code Lists-->
                    <div id="mainDiagnoses">
                      <label>Hauptdiagnosen:</label>
                      <ul class="list-group selectable codeList" id="mainDiagnosesRelatedList">
                      </ul>
                    </div>


                    <div id="sideDiagnoses">
                      <label>Nebendiagnosen:</label>
                      <ul class="list-group selectable codeList" id="sideDiagnosesRelatedList">
                      </ul>
                    </div>


                    <div id="Proccedures">
                      <label>Prozeduren:</label>
                      <ul class="list-group selectable codeList" id="proceduresRelatedList">
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!--CodeMask Div-->
      <div id="codeMaskWrapper">
        <label>Code mask:</label>
        <!-- Nav tabs for the list of the mask -->
        <ul class="nav nav-tabs" id="maskTabs" role="tablist">
          <li role="presentation" class="active"><a id="allMaskLink" href="#allMask" aria-controls="allMask" role="tab" data-toggle="tab">Alle</a></li>
          <li role="presentation"><a class="filterTab" href="#mainDiagnosesMask" aria-controls="mainDiagnosesMask" role="tab" data-toggle="tab" data-category="mainDiagnoses">Hauptdiagnosen</a></li>
          <li role="presentation"><a class="filterTab withAddButton" href="#sideDiagnosesMask" aria-controls="sideDiagnosesMask" role="tab" data-toggle="tab" data-category="sideDiagnoses">Nebendiagnosen</a></li>
          <li role="presentation"><a class="filterTab withAddButton" href="#proceduresMask" aria-controls="proceduresMask" role="tab" data-toggle="tab" data-category="procedures">Prozeduren</a></li>
        </ul>

        <!-- Tab panes with the lists of the mask -->
        <div class="tab-content codeMaskLists">
          <div role="tabpanel" class="tab-pane active" id="allMask">
            <ul class="list-group unselectable code-maskList" id="allListMask">
              <li class='list-group-item mainNewCode' id="newMainCode" data-category="mainDiagnoses"><div class='text_field editing' contenteditable='true'></div><div class='dropdown'><a data-toggle='dropdown' class='dropdown-toggle'></a><ul class='dropdown-menu'></ul></div><button class='zbutton doneButton' type='button'>Add</button><button class='zbutton editButton' type='button'>Edit</button></li>
            </ul>
          </div>
        </div>

      <button id="addCodeButton" type="button" class="btn btn-primary">Add code</button>
      </div>
    </div>

    <!--Code Lists-->
    <div class="form-group col-md-5  " id="codeLists">

      <div id="mainDiagnoses">
        <label>Hauptdiagnosen:</label>
        <ul class="list-group selectable codeList" id="mainDiagnosesList">
        </ul>
      </div>


      <div id="sideDiagnoses">
        <label>Nebendiagnosen:</label>
        <ul class="list-group selectable codeList" id="sideDiagnosesList">
        </ul>
      </div>


      <div id="Proccedures">
        <label>Prozeduren:</label>
        <ul class="list-group selectable codeList" id="proceduresList">
        </ul>
      </div>
    </div>

  </div>

  <!--Placeholder-->
  <div class="row">

  </div>
</section>


<footer class="container">
  <div class="row">
    <p class="col-sm-4">
      &copy; 2016
    </p>
  </div>

</footer>