<nav class="navbar navbar-default">
  <div class="container-fluid">
  </div><!-- /.container-fluid -->
</nav>


<!--section-->
<section class="container-fluid">
  <!--Big fat DIV-->
  <div class="row-fluid">
    <!--Div of Textarea and Codemask-->
    <div class="col-md-offset-1 form-group col-md-5 ">

      <label for="Text">Text:</label>
      <!--Textarea Div-->
      <div id="textArea" class="editable form-control bg-primary" contenteditable="true" >
      </div>

      <button id="analyse" type="button" class="btn btn-primary">Analyse</button>

      <!--Div for the InfoField-->
      <div class="col-md-12" id="infoField-wrapper">
        <label>Information:</label>
        <div class="col-md-12" id="infoField">
              <div class="col-md-12" id="infoWordWrapper">
                <label class="col-md-1">Word:</label>
                <div class="col-md-9" id="infoWord"></div>
              </div>
              <div class="col-md-12" id="infoDetailsWrapper">
                <div class="col-md-6" id="infoSynonymsWrapper">
                  <label>Synonyme:</label>
                  <div class="col-md-12" id="infoSynonyms">
                    <ul class="list-group" id="synonymsList">
                    </ul>
                  </div>
                </div>
                <div class="col-md-6" id="infoRelatedCodesListWrapper">
                  <label>Codes:</label>
                  <div class="col-md-12" id="infoRelatedCodes"></div>
                </div>
              </div>
        </div>
      </div>

      <!--CodeMask Div-->
      <div id="codeMaskWrapper">
        <label>Code mask:</label>
        <!-- Nav tabs for the list of the mask -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#allMask" aria-controls="allMask" role="tab" data-toggle="tab">All</a></li>
          <li role="presentation"><a href="#mainDiagnosesMask" aria-controls="mainDiagnosesMask" role="tab" data-toggle="tab">Hauptdiagnosen</a></li>
          <li role="presentation"><a href="#sideDiagnosesMask" aria-controls="sideDiagnosesMask" role="tab" data-toggle="tab">Nebendiagnosen</a></li>
          <li role="presentation"><a href="#proceduresMask" aria-controls="proceduresMask" role="tab" data-toggle="tab">Prozeduren</a></li>
        </ul>

        <!-- Tab panes with the lists of the mask -->
        <div class="tab-content codeMaskLists">
          <div role="tabpanel" class="tab-pane active" id="allMask">
            <ul class="list-group unselectable code-maskList" id="allListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="mainDiagnosesMask">
            <ul class="list-group unselectable code-maskList" id="mainDiagnosesListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="sideDiagnosesMask">
            <ul class="list-group unselectable code-maskList" id="sideDiagnosesListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="proceduresMask">
            <ul class="list-group unselectable code-maskList" id="proceduresListMask">
            </ul>
          </div>
        </div>

      <button id="addCodeButton" type="button" class="btn btn-primary">Add code</button>
      </div>
    </div>


    <!--Code Lists-->
    <div class="form-group col-md-5  " id="codeLists">

      <div id="mainDiagnoses">
        <label>Hauptdiagnosen:</label>
        <ul class="list-group selectable codeList" id="mainDiagnosesList">
        </ul>
      </div>


      <div id="sideDiagnoses">
        <label>Nebendiagnosen:</label>
        <ul class="list-group selectable codeList" id="sideDiagnosesList">
        </ul>
      </div>


      <div id="Proccedures">
        <label>Prozeduren:</label>
        <ul class="list-group selectable codeList" id="proceduresList">
        </ul>
      </div>
    </div>


  </div>

  <!--Placeholder-->
  <div class="row">

  </div>
</section>


<footer class="container">
  <div class="row">
    <p class="col-sm-4">
      &copy; 2016
    </p>
  </div>

</footer>