var parameters = <%= raw @variables_as_json %>;
var codes = parameters.codes;
var li_id = parameters.li_id;
var code = parameters.code;
var text = parameters.text;

var codeList = "";
codes.forEach(function(element) {
  var codeId = element["short_code"];
  var code = element["code"]
  var text = element["text_de"]
  var listElement = "<li class='dropdown-element' id='"+codeId+"' data-code='"+code+"' data-text='"+text+"'><a>"+code+": "+text+"</a></li>";
  codeList = codeList + listElement;
});

$("#"+li_id+" div.editing").removeClass("whiteBackground");


$("#"+li_id+" div.editing").addClass("redBackground");
$("#"+li_id).removeAttr("data-code");
$("#"+li_id).removeAttr("data-text");
$("#"+li_id).attr("id", "newTempCode");


if(codeList.length == 0)
  codeList = "<li>Keine Codes gefunden</li>";
else if(codes.length==1 && codes[0]["code"].toLowerCase()==code.toLocaleLowerCase() && codes[0]["text_de"].toLowerCase()==text.toLowerCase()) {
  $("#"+li_id+" div.editing").removeClass("redBackground");
  $("#"+li_id+" div.editing").addClass("whiteBackground");
  $("#"+li_id).attr("data-code", code);
  $("#"+li_id).attr("data-text", text);
  $("#"+li_id).attr("id", codes[0]["short_code"]);
}


$("#"+li_id+" div.dropdown ul.dropdown-menu").empty().append(codeList);

$("#"+li_id+" div.dropdown").addClass("open");