var parameters = <%= raw @variables_as_json %>;
var codes = parameters.codes;
var li_id = parameters.li_id;

var codeList = "";
codes.forEach(function(element) {
  var codeId = element["short_code"];
  var code = element["code"]
  var text = element["text_de"]
  var listElement = "<li class='dropdown-element' id='"+codeId+"' data-code='"+code+"' data-text='"+text+"'><a>"+code+": "+text+"</a></li>";
  codeList = codeList + listElement;
});

if(codeList.length == 0)
  codeList = "<li>Keine Codes gefunden</li>";
$("#"+li_id+" div.dropdown ul.dropdown-menu").empty().append(codeList);

$("#"+li_id+" div.dropdown").addClass("open");