<!DOCTYPE html>
<html>
<head>
  <title>Medcodeassist</title>
  <meta charset="utf-8"/>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application.js' %>
  <%= stylesheet_link_tag 'application.css' %>

</head>

<body>

<%= yield %>

</body>
</html>